[Unit]
Description=The prometheus node exporter
Documentation=https://github.com/sitewards/ansible-role-node-exporter

[Service]
# Try to always ensure this service is running. It's how we health check other services remotely.
Restart=always

# Start the service, bound to localhost. It will be exposed by another service, such as NGINX or stunnel.
ExecStart={{ node_exporter_path }}node_exporter \
    --web.listen-address={{ ansible_host }}:9100 \

[Install]

# Boot it after the network is up and running
WantedBy=network-online.target